:root {
  /*:rootはHTML文書全体のルート要素を指定*/
  font-size: 16px; /*フォントサイズを16ピクセルに設定*/
  --bg-color: #555555; /*--bg-colorはカスタムプロパティで、ルート要素に格納された変数
  背景色を#555555（ダークグレー）に設定*/
}

body {
  /*body要素に対するスタイル設定*/
  box-sizing: border-box; /*要素の幅や高さの計算にボックスモデルのborder-boxを使用することを指定*/
  background-color: #fefff2; /*背景色を薄いクリーム色に設定*/
  width: 430px; /*要素の幅を固定して430ピクセルに設定*/
  border: solid lightgray 1px; /*薄い灰色の実線の境界線を1ピクセルの幅で設定*/
  margin: 0; /*要素の外側の余白を0に設定*/
  padding: 0.5rem; /*要素の内側の余白を0.5レムに設定*/
}

header {
  /*header要素に対するスタイル設定*/
  margin-bottom: 2rem; /*header要素の下側に2レムの余白を設定*/
}

figure#logo {
  /*figure要素でIDがlogoの要素に対するスタイル設定*/
  margin: 1rem 0; /*上下に1レム、左右に0の余白を設定*/
}

#logo img {
  /*IDがlogoの画像要素に対するスタイル設定*/
  width: 16rem; /*画像の幅を16レム*/
  height: 3rem; /*画像の高さを3レム*/
}

#user_name {
  /*IDがuser_nameの要素に対するスタイル設定*/
  display: flex; /*flexbox（フレックスボックス）と呼ばれるレイアウトモードを使用
  フレックスボックスは、HTMLブロックを横並びにすることができる*/
  align-items: center; /*要素の中央揃え*/
  background-color: #cccccc; /*背景色を薄い灰色に設定*/
  margin: 1rem 5px; /*上下に1レム、左右に5ピクセルの余白を設定*/
  gap: 0.5rem; /*フレックスアイテム間の間隔を0.5レムに設定*/
  width: fit-content; /*要素の幅を内容に合わせて調整*/
  padding-right: 1rem; /*右側の余白を1レムに設定*/
  height: 1.7rem; /*要素の高さを1.7レムに設定*/
}

#user_name img {
  /*IDがuser_name内のimg要素に対するスタイル設定*/
  height: 1.5rem; /*画像の高さを1.5レムに設定*/
  margin: 0.1rem; /*画像の周囲に0.1レムの余白を設定*/
  background-color: var(
    --bg-color
  ); /*背景色をカスタムプロパティ(--bg-color)の値に設定*/
}

#upper_menu {
  /*IDがupper_menuの要素に対するスタイル設定*/
  display: flex; /*フレックスボックスを使用*/
  font-size: 0.75rem; /*テキストのフォントサイズを0.75レムに設定*/
  line-height: 1.2; /*行の高さを1.2に設定*/
  color: #330066; /*テキストの色をダークパープルに設定*/
  margin: 1rem 0; /*上下に1レム、左右に0の余白を設定*/
}

#upper_menu div {
  /*IDがupper_menu内のdiv要素に対するスタイル設定*/
  padding: 0.5rem; /*div要素の内側の余白を0.5レムに設定*/
  width: 4.5rem; /*div要素の幅を4.5レムに設定*/
  text-align: center; /*div要素内のテキストを中央揃え*/
}

#upper_menu img {
  /*IDがupper_menu内のimg要素に対するスタイル設定*/
  width: 2rem; /*画像の幅を2レムに設定*/
}

#upper_menu p {
  /*IDがupper_menu内のp要素に対するスタイル設定*/
  margin: 0; /*段落要素の周囲の余白を0に設定*/
}

#upper_menu div:nth-child(1) {
  /*IDがupper_menu内の最初のdiv要素に対するスタイル設定*/
  background-color: #ef8683; /*背景色をピンクに設定*/
}

#upper_menu div:nth-child(2) {
  /*2番目*/
  background-color: #ffff91; /*背景色を黄色に設定*/
}

#upper_menu div:nth-child(3) {
  /*3番目*/
  background-color: #ef86bd; /*背景色をラベンダー*/
}

#news {
  /*IDがnewsの要素に対するスタイル設定*/
  background-color: #f0f0f0; /*背景色を薄いグレーに設定*/
  padding: 0.5rem; /*要素の内側の余白を0.5レムに設定*/
  margin: 1rem 0; /*上下に1レム、左右に0の余白を設定*/
}

#news_title {
  /*IDがnews_titleの要素に対するスタイル設定*/
  display: flex; /*フレックスボックスを使用*/
  color: white; /*テキストの色を白に設定*/
  background-color: var(
    --bg-color
  ); /*背景色をカスタムプロパティ(--bg-color)の値に設定*/
  padding: 0.5rem; /*要素の内側の余白を0.5レムに設定*/
}

:is(#news_title, #news_num) img {
  /*#news_title要素または#news_num要素内のimg要素に対するスタイル設定*/
  height: 1.5rem; /*画像の高さを1.5レムに設定*/
  margin-right: 0.5rem; /*画像の右側に0.5レムの余白を設定*/
}

#news_num {
  /*IDがnews_numの要素に対するスタイル設定*/
  display: flex; /*フレックスボックスを使用*/
  margin-top: 0.5rem; /*上側に0.5レムの余白を設定*/
  margin-left: 0.5rem; /*左側に0.5レムの余白を設定*/
  color: blue; /*テキストの色を青に設定*/
}

#link {
  /*IDがlinkの要素に対するスタイル設定*/
  display: flex; /*フレックスボックスを使用*/
  gap: 1.5rem; /*フレックスアイテム間の間隔を1.5レムに設定*/
}

#link div {
  /*IDがlink内のdiv要素に対するスタイル設定*/
  width: fit-content; /*要素の幅を内容に合わせて調整*/
  color: white; /*テキストの色を白に設定*/
  background-color: var(
    --bg-color
  ); /*背景色をカスタムプロパティ(--bg-color)の値に設定*/
  padding: 0.5rem 2rem; /*上下に0.5レム、左右に2レムの余白を設定*/
  margin-left: 0.5rem; /*左側に0.5レムの余白を設定*/
}

#link div a {
  /*IDがlink内のdiv要素内のa要素に対するスタイル設定*/
  color: white; /*テキストの色を白に設定*/
  text-decoration: none; /*テキストの下線を削除*/
  display: block; /*要素をブロックレベル要素として表示*/
}
#link a {
  text-decoration: none;
}
header p:last-child {
  /*header要素内の最後のp要素に対するスタイル設定*/
  margin-left: 0.5rem; /*左側に0.5レムの余白を設定*/
  padding-left: 0.5rem; /*左側の余白を0.5レムに設定*/
}

main#top {
  /*IDがtopのmain要素に対するスタイル設定*/
  display: flex; /*フレックスボックスを使用*/
  flex-wrap: wrap; /*フレックスアイテムが折り返されるように設定*/
  font-size: 0.75rem; /*テキストのフォントサイズを0.75レムに設定*/
  gap: 1rem 0.4rem; /*フレックスアイテム間の縦方向の間隔を1レム、横方向の間隔を0.4レムに設定*/
  color: #44077d; /*テキストの色を紫色に設定*/
  margin-bottom: 2rem; /*下側に2レムの余白を設定*/
  margin-left: 0.5rem; /*左側に0.5レムの余白を設定*/
}

:is(#upper_menu, main#top) a {
  /*#upper_menu要素またはmain#top要素内のa要素に対するスタイル設定*/
  color: #44077d; /*テキストの色を紫色に設定*/
  text-decoration: none; /*テキストの下線を削除*/
  display: block; /*要素をブロックレベル要素として表示*/
}

main#top div {
  /*main#top内のdiv要素に対するスタイル設定*/
  width: 5rem; /*要素の幅を5レムに設定*/
  width: 27%; /*要素の幅を親要素の幅の27%に設定　後に書かれたスタイルが優先される*/
  text-align: center; /*テキストを中央揃え*/
  padding: 0.5rem; /*上下左右に0.5レムの余白を設定*/
}

main {
  position: relative;
  margin-bottom: 8rem;
}

.circle {
  position: relative;
  position: absolute;
  bottom: -120px;
  right: 10px;
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #4caf50;
}
.circle span {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10px;
  display: inline-block;
  color: white;
  text-align: center;
}
.icon {
  position: absolute;
  top: 30%; /* アイコンの位置を調整 */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
}
footer p {
  /*footer内のp要素に対するスタイル設定*/
  font-weight: bold; /*テキストの太字を指定*/
  margin-bottom: 2rem; /*下側に2レムの余白を設定*/
}

#information {
  /*IDがinformationの要素に対するスタイル設定*/
  border: solid 1px #feb64a; /*1ピクセルの幅の実線で黄色の境界線を設定*/
  border-radius: 0.5rem; /*境界線の角を0.5レムの丸みにする*/
  height: 5rem; /*要素の高さを5レムに設定*/
  background-color: white; /*背景色を白に設定*/
}
