button {
  width: 100%;
  height: 70px;
  background-color: #a4e792;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  color: black;
  cursor: pointer;
  margin: 2rem auto;
  align-items: center;
}

button a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 50px; /* テキストを垂直方向に中央寄せ */
}

button:hover {
  background-color: #92d17c;
}

/* アイコン画像のスタイル設定 */
.icon {
  width: 30px;
  height: 30px;
  display: flex;
}
