:root {
  /*:rootはHTML文書全体のルート要素を指定*/
  font-size: 16px; /*フォントサイズを16ピクセルに設定*/
  --bg-color: #555555; /*--bg-colorはカスタムプロパティで、ルート要素に格納された変数
  背景色を#555555（ダークグレー）に設定*/
}

body {
  /*body要素に対するスタイル設定*/
  box-sizing: border-box; /*要素の幅や高さの計算にボックスモデルのborder-boxを使用することを指定*/
  background-color: #fefff2; /*背景色を薄いクリーム色に設定*/
  width: 430px; /*要素の幅を固定して430ピクセルに設定*/
  border: solid lightgray 1px; /*薄い灰色の実線の境界線を1ピクセルの幅で設定*/
  margin: 0; /*要素の外側の余白を0に設定*/
  padding: 0.5rem; /*要素の内側の余白を0.5レムに設定*/
}

header {
  /*header要素に対するスタイル設定*/
  margin-bottom: 2rem; /*header要素の下側に2レムの余白を設定*/
}

figure#logo {
  /*figure要素でIDがlogoの要素に対するスタイル設定*/
  margin: 1rem 0; /*上下に1レム、左右に0の余白を設定*/
}

#logo img {
  /*IDがlogoの画像要素に対するスタイル設定*/
  width: 16rem; /*画像の幅を16レム*/
  height: 3rem; /*画像の高さを3レム*/
}

#user_name {
  /*IDがuser_nameの要素に対するスタイル設定*/
  display: flex; /*flexbox（フレックスボックス）と呼ばれるレイアウトモードを使用
  フレックスボックスは、HTMLブロックを横並びにすることができる*/
  align-items: center; /*要素の中央揃え*/
  background-color: #cccccc; /*背景色を薄い灰色に設定*/
  margin: 1rem 5px; /*上下に1レム、左右に5ピクセルの余白を設定*/
  gap: 0.5rem; /*フレックスアイテム間の間隔を0.5レムに設定*/
  width: fit-content; /*要素の幅を内容に合わせて調整*/
  padding-right: 1rem; /*右側の余白を1レムに設定*/
  height: 1.7rem; /*要素の高さを1.7レムに設定*/
}

#user_name img {
  /*IDがuser_name内のimg要素に対するスタイル設定*/
  height: 1.5rem; /*画像の高さを1.5レムに設定*/
  margin: 0.1rem; /*画像の周囲に0.1レムの余白を設定*/
  background-color: var(
    --bg-color
  ); /*背景色をカスタムプロパティ(--bg-color)の値に設定*/
}

#upper_menu {
  /*IDがupper_menuの要素に対するスタイル設定*/
  display: flex; /*フレックスボックスを使用*/
  font-size: 0.75rem; /*テキストのフォントサイズを0.75レムに設定*/
  line-height: 1.2; /*行の高さを1.2に設定*/
  color: #330066; /*テキストの色をダークパープルに設定*/
  margin: 1rem 0; /*上下に1レム、左右に0の余白を設定*/
}

#upper_menu div {
  padding: 0.5rem;
  width: 4.5rem;
  text-align: center;
}

#upper_menu img {
  width: 2rem;
}

#upper_menu p {
  margin: 0;
}

#upper_menu div:nth-child(1) {
  background-color: #ef8683;
}

#upper_menu div:nth-child(2) {
  background-color: #ffff91;
}

#upper_menu div:nth-child(3) {
  background-color: #ef86bd;
}

#news {
  background-color: #f0f0f0;
  padding: 0.5rem;
  margin: 1rem 0;
}

#news_title {
  display: flex;
  color: white;
  background-color: var(--bg-color);
  padding: 0.5rem;
}

:is(#news_title, #news_num) img {
  height: 1.5rem;
  margin-right: 0.5rem;
}

#news_num {
  display: flex;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  color: blue;
}

#link {
  display: flex;
  gap: 1.5rem;
}

#link div {
  width: fit-content;
  color: white;
  background-color: var(--bg-color);
  padding: 0.5rem 2rem;
  margin-left: 0.5rem;
}

#link div a {
  color: white;
  text-decoration: none;
  display: block;
}

header p:last-child {
  margin-left: 0.5rem;
  padding-left: 0.5rem;
}

main#top {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.75rem;
  gap: 1rem 0.4rem;
  color: #44077d;
  margin-bottom: 2rem;
  margin-left: 0.5rem;
}

:is(#upper_menu, main#top) a {
  color: #44077d;
  text-decoration: none;
  display: block;
}

main#top div {
  width: 5rem;
  width: 27%;
  text-align: center;
  padding: 0.5rem;
}

main#top div:nth-child(1) {
  background-color: #f4bab8;
}

main#top div:nth-child(2) {
  background-color: #f9dcbc;
}

main#top div:nth-child(3) {
  font-size: 0.6rem;
  background-color: #f3bada;
}

main#top div:nth-child(4) {
  background-color: #b55c92;
}

main#top div:nth-child(5) {
  background-color: #bddafa;
}

main#top div:nth-child(6) {
  background-color: #c6fddd;
}

main#top div:nth-child(7) {
  background-color: #e1febe;
}

footer p {
  font-weight: bold;
  margin-bottom: 2rem;
}

#information {
  border: solid 1px #feb64a;
  border-radius: 0.5rem;
  height: 5rem;
  background-color: white;
}
